$main-grey: #333333
$main-hover: #00c8c8
$dark-text: #222222
$item-bg: #f8f8f8
$header-text: #575153
$main-text: #727272
$main-grey-text-color: #777777

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
//
*
	box-sizing: border-box

body, html
	font-family: 'Montserrat'
	margin: 0
	padding: 0
	font-size: 14px
	color: $main-text
	width: 100%
	height: 100%
	background: #fff

li, ul, a, p, span
	margin: 0
	padding: 0
	text-decoration: none

%bg-center
	background: 
		repeat: no-repeat
		position: center
		size: cover

.flex
	display: flex
	flex-wrap: nowrap

.flex-column
	display: flex
	flex-wrap: nowrap
	flex-direction: column

.grid
	display: grid

%block-size	
	overflow: hidden 
	width: 100%
	max-width: 2000px
	margin: 0 auto
	
.content-size
	@extend %block-size
	padding: 0 440px

// ------------header

.main-header
	background-color: $main-grey
	
	&-nav
		width: 100%
		height: 45px
		justify-content: flex-end

		a 
			height: 100%
			padding: 15px 20px
			span
				font-size: 13px
				text-transform: capitalize
				color: #999999
				transition: all .23s ease-in
				
				&:hover 
					color: $main-hover

		.basket
			padding: 15px 20px
			text-transform: none
			background-color: $main-hover
			div
				display: inline-block
				text-transform: none
				color: #fff
				&:nth-child(1)
					height: 100%
					width: 20px
					background-image: url(../img/basket.png)
					@extend %bg-center
					margin-right: 20px
				&:nth-child(3)
					width: 8px
					height: 100%
					background-image: url(../img/arrow-down.png)
					margin-left: 5px
					background: 
						repeat: no-repeat
						position: 0 8px
						size: contain		

.main
	@extend %block-size
	background-color: $item-bg
	height: 920px
	position: relative
	margin-bottom: 60px

// -------------- slider

.slider
	height: 100%
	width: 100%
	position: absolute
	z-index: 1
	.slider-img-men
		margin-left: 370px
		height: 100%
		width: 600px
		background-image: url(../img/slider-male.png)
		background:
			repeat: no-repeat
			size: cover
		padding-bottom: 120px
	.slider-img-woman
		margin-left: 280px
		height: 100%
		width: 800px
		background-image: url(../img/slider-female.png)
		background:
			repeat: no-repeat
			size: cover
		padding-bottom: 120px
	.ave
		position: absolute
		text-transform: uppercase
		font-weight: 800
		font-size: 450px
		color: #575153
		letter-spacing: 300px
		line-height: 450px
		top: 215px
		left: 250px
	.button-colecction
		font-weight: bold
		font-size: 14px
		letter-spacing: 4px
		position: absolute
		text-transform: uppercase
		color: #454647
		padding: 20px 30px
		border: 2px solid $main-text
		bottom: 120px
		right: 320px
		cursor: pointer
		transition: all .3s ease
		&:hover
			background-color: $main-hover
			color: #fff
			border: 2px solid $main-hover


// -------------- slider ^

.main-nav
	position: relative
	padding: 40px 135px
	justify-content: space-between
	text-transform: uppercase
	color: $dark-text
	font-size: 13px
	z-index: 10
	.logo
		font-size: 24px
		color: $dark-text
		font-weight: 500
		span
			font-weight: 800
	.nav 
		margin-left: 400px
		margin-bottom: 0
		&-item 
			margin-left: 55px
			color: $dark-text
			font-weight: bold
			&:hover 
				color: $main-hover	
	.search
		position: relative
		top: -5px
		input
			width: 190px
			height: 28px
			background: inherit
			border: 1px solid #e7e7e7
			outline: none
		.search-icon
			cursor: pointer
			position: relative
			left: -20px
			top: 7px
			width: 13px
			height: 100%	
			background-image: url(../img/search-icon.png)
			background:
				repeat: no-repeat
				background-position: center
				background-size: cover


// ---------------------- items

.items
	@extend %block-size
	padding: 0 135px
	// margin:
	// 	top: 60px
	// 	bottom: 60px
	// 	bottom: 1px solid #eeeeee 
	&-menu
		padding: 58px 0
		border-top: 1px solid #eeeeee 
		a
			font-size: 13px
			text-transform: uppercase
			margin-right: 55px
			color: $header-text
			&:first-child
				color: $main-hover
	
	&-wrapper
		grid-template-columns: repeat(4, 1fr)
		grid-template-row: repeat(2, fr)
		grid-gap: 30px
		grid-auto-rows: minmax(200px,500px)
		padding-bottom: 60px
		border-bottom: 1px solid #eeeeee 
		
		.item 
			cursor: pointer
			position: relative
			width: 100%
			height: 100%
			&:nth-child(3)
				grid-column: 3/ 5 
			&:nth-child(4)
				grid-column: 1/ 3
		
			.img 
				width: 100%
				height: 100%
				@extend %bg-center


			&:hover
				box-shadow: 0px 27px 64px 3px rgba(148,148,148,0.84)
			&:hover .active-menu  
				box-shadow: 0px 27px 64px 3px rgba(148,148,148,0.84)
				display: block
			&:hover .small
				display: block
			.price
				font-size: 17px
				position: absolute
				padding: 15px
				top: 0
				left: 0
				background-color: $item-bg
			.small
				position: absolute
				padding: 15px
				top: 15px
				right: 15px
				width: 112px
				display: none
				div, img
					width: 100%
					height: auto
					height: 100px
					border: 1px solid #fff
					&:hover 
						border: 1px solid $main-hover

				.small-img-1
					margin-bottom: 15px
					@extend %bg-center					
					background-image: url(../img/item-1.png)
				.small-img-2
					background-image: url(../img/item-1.png)
					@extend %bg-center

			.active-menu
				position: absolute
				z-index: 10
				width: inherit
				height: 170px
				background-color: #fff
				bottom: -168px
				padding: 20px 50px
				border-top: 1px solid #eeeeee
				display: flex
				flex-direction: column
				align-items: center
				justify-content: space-between
				text-align: center
				display: none
				transition: all .3s ease
				.main-desc
					text-transform: uppercase
					font-weight: 600
					margin-bottom: 6px
				.icons
					margin-top: 5px
					div
						cursor: pointer
						display: inline-block
						width: 38px
						height: 38px
						border-radius: 100%
						background-color: $main-text
						margin-right: 8px
						&:hover
							background-color: $main-hover
			&:nth-child(1) .img
				background-image: url(../img/item-1.png) 
			
			&:nth-child(2) .img
				background-image: url(../img/item-2.png) 
			
			&:nth-child(3) .img
				background-image: url(../img/item-3.png) 
				background-position: top
			
			&:nth-child(4) .img
				background-image: url(../img/item-4.png) 
				background-position: top

			&:nth-child(5) .img
				background-image: url(../img/item-5.png) 
			
			&:nth-child(6) .img
				background-image: url(../img/item-6.png) 
			





@import 'tabs'