$main-grey: #333333
$main-hover: #00c8c8
$dark-text: #222222
$item-bg: #f8f8f8
$header-text: #575153
$main-text: #727272
$main-grey-text-color: #777777

@import 'animation'

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
//
*
	box-sizing: border-box

body, html
	font-family: 'Montserrat'
	margin: 0
	padding: 0
	font-size: 14px
	color: $main-text
	width: 100%
	height: 100%
	background: #fff

li, ul, a, p, span
	margin: 0
	padding: 0
	text-decoration: none
	list-style-type: none

%bg-center
	background: 
		repeat: no-repeat
		position: center
		size: cover

.flex
	display: flex
	flex-wrap: nowrap

.flex-column
	display: flex
	flex-wrap: nowrap
	flex-direction: column

.grid
	display: grid

%block-size	
	width: 100%
	max-width: 2000px
	margin: 0 auto
	
.button
	font-weight: bold
	font-size: 14px
	letter-spacing: 4px
	position: absolute
	text-transform: uppercase
	color: #454647
	padding: 20px 30px
	border: 2px solid $main-text
	bottom: 120px
	right: 320px
	cursor: pointer
	transition: all .3s ease
	&:hover
		background-color: $main-hover
		color: #fff
		border: 2px solid $main-hover

.content-size
	@extend %block-size
	padding: 0 440px

// ------------header

.main-header
	background-color: $main-grey
	
	&-nav
		width: 100%
		height: 45px
		justify-content: flex-end

		a 
			height: 100%
			padding: 15px 20px
			span
				font-size: 13px
				text-transform: capitalize
				color: #999999
				transition: all .23s ease-in
				
				&:hover 
					color: $main-hover

		.basket
			padding: 15px 20px
			text-transform: none
			background-color: $main-hover
			div
				display: inline-block
				text-transform: none
				color: #fff
				&:nth-child(1)
					height: 100%
					width: 20px
					background-image: url(../img/basket.png)
					@extend %bg-center
					margin-right: 20px
				&:nth-child(3)
					width: 8px
					height: 100%
					background-image: url(../img/arrow-down.png)
					margin-left: 5px
					background: 
						repeat: no-repeat
						position: 0 8px
						size: contain		

.main
	@extend %block-size
	background-color: $item-bg
	height: 920px
	position: relative
	margin-bottom: 60px

// -------------- slider

.slider
	height: 100%
	width: 100%
	position: absolute
	z-index: 1
	.slider-img-men
		margin-left: 370px
		height: 100%
		width: 600px
		background-image: url(../img/slider-male.png)
		background:
			repeat: no-repeat
			size: cover
		padding-bottom: 120px
		animation: bounceInRight 1.6s ease-in
	.slider-img-woman
		margin-left: 280px
		height: 100%
		width: 800px
		background-image: url(../img/slider-female.png)
		background:
			repeat: no-repeat
			size: cover
		padding-bottom: 120px
	.ave
		position: absolute
		text-transform: uppercase
		font-weight: 800
		font-size: 450px
		color: #575153
		letter-spacing: 300px
		line-height: 450px
		top: 215px
		left: 250px
		animation: bounceInRight 1.3s ease-in
		animation: bounceOutLeft 1.3s ease
		animation-delay: 2s
	// .button


// -------------- slider ^

.main-nav
	position: relative
	padding: 40px 135px
	justify-content: space-between
	text-transform: uppercase
	color: $dark-text
	font-size: 13px
	z-index: 10
	.logo
		font-size: 24px
		color: $dark-text
		font-weight: 500
		span
			font-weight: 800
	.nav 
		margin-left: 400px
		margin-bottom: 0
		&-item 
			margin-left: 55px
			color: $dark-text
			font-weight: bold
			&:hover 
				color: $main-hover	
	.search
		position: relative
		top: -5px
		input
			width: 190px
			height: 28px
			background: inherit
			border: 1px solid #e7e7e7
			outline: none
		.search-icon
			cursor: pointer
			position: relative
			left: -20px
			top: 7px
			width: 13px
			height: 100%	
			background-image: url(../img/search-icon.png)
			background:
				repeat: no-repeat
				background-position: center
				background-size: cover


// ---------------------- items

.items
	@extend %block-size
	padding: 0 135px
	// margin:
	// 	top: 60px
	// 	bottom: 60px
	// 	bottom: 1px solid #eeeeee 
	&-menu
		padding: 58px 0
		border-top: 1px solid #eeeeee 
		a
			font-size: 13px
			text-transform: uppercase
			margin-right: 55px
			color: $header-text
			&:first-child
				color: $main-hover
	
	&-wrapper
		grid-template-columns: repeat(4, 1fr)
		grid-template-row: repeat(2, fr)
		grid-gap: 30px
		grid-auto-rows: minmax(200px,500px)
		padding-bottom: 60px
		border-bottom: 1px solid #eeeeee 
		
		.item 
			position: relative
			width: 100%
			height: 100%
			&:nth-child(3)
				grid-column: 3/ 5 
			&:nth-child(4)
				grid-column: 1/ 3
		
			.img 
				width: 100%
				height: 100%
				@extend %bg-center


			&:hover
				box-shadow: 0px 27px 64px 3px rgba(148,148,148,0.84)
			// &:hover .active-menu  
			// 	box-shadow: 0px 27px 64px 3px rgba(148,148,148,0.84)
			// 	display: block
			// &:hover .small
			// 	display: block
			&:hover .info-icon
				visibility: visible

			.price
				font-size: 17px
				position: absolute
				padding: 15px
				top: 0
				left: 0
				background-color: $item-bg
			.small
				position: absolute
				padding: 15px
				top: 15px
				right: 15px
				width: 112px
				display: none
				div, img
					width: 100%
					height: auto
					height: 100px
					border: 1px solid #fff
					&:hover 
						border: 1px solid $main-hover

				.small-img-1
					margin-bottom: 15px
					@extend %bg-center					
					background-image: url(../img/item-1.png)
				.small-img-2
					background-image: url(../img/item-1.png)
					@extend %bg-center
			.info-icon
				visibility: hidden
				z-index: 10
				cursor: pointer
				position: absolute
				width: 50px
				height: 50px
				background-image: url(../img/info-icon.png)
				top: 50%
				right: 46%
				&:hover .item .active-menu  
					box-shadow: 0px 27px 64px 3px rgba(148,148,148,0.84)
					display: block
				&:hover .small
					display: block

			.active-menu
				position: absolute
				z-index: 10
				width: inherit
				height: 170px
				background-color: #fff
				bottom: -168px
				padding: 20px 50px
				border-top: 1px solid #eeeeee
				display: flex
				flex-direction: column
				align-items: center
				justify-content: space-between
				text-align: center
				display: none
				transition: all .3s ease
				.main-desc
					text-transform: uppercase
					font-weight: 600
					margin-bottom: 6px
				.icons
					margin-top: 5px
					div
						cursor: pointer
						display: inline-block
						width: 38px
						height: 38px
						border-radius: 100%
						background-color: $main-text
						margin-right: 8px
						background-repeat: no-repeat
						background-position: center
						&:hover
							background-color: $main-hover
					.basket
						background-image: url(../img/basket.png)
					.like
						background-image: url(../img/like.png)
					.size
						background-image: url(../img/compare-icon.png)
			&:nth-child(1) .img
				background-image: url(../img/item-1.png) 
			
			&:nth-child(2) .img
				background-image: url(../img/item-2.png) 
			
			&:nth-child(3) .img
				background-image: url(../img/item-3.png) 
				background-position: top
			
			&:nth-child(4) .img
				background-image: url(../img/item-4.png) 
				background-position: top

			&:nth-child(5) .img
				background-image: url(../img/item-5.png) 
			
			&:nth-child(6) .img
				background-image: url(../img/item-6.png) 
			

// ------------------------- items ^

// ------------------------- lookbook

.lookbook
	@extend %block-size
	margin: 60px auto
	grid-template-columns: repeat(3, minmax(400px, 1fr))
	grid-auto-rows: minmax(200px, 530px)
	grid-gap: 30px
	&-item 
		background-color: $item-bg
		display: grid 
		grid-template-columns: 305px 1fr
		.img 
			@extend %bg-center

		&:nth-child(2) .img 
			background-image: url(../img/lookbook-img-2.png)
		&:nth-child(1) .img 
			background-image: url(../img/lookbook-img-1.png)
		&:nth-child(3) .img 
			background-image: url(../img/lookbook-img-3.png)
		
		.look-desc 
			flex-direction: column
			justify-content: center
			text-align: right
			align-items: right
			padding-right: 30px

		
			.title
				color: $dark-text
				font-weight: 800
				margin-bottom: 25px
				font-size: 48px
				text-transform: uppercase
				span 
					font-weight: 400

			.desc 
				line-height: 26px
				margin-bottom: 30px
			.button
				position: static
	

// -------------------- footer

.footer-container
	@extend %block-size
	padding: 55px 435px
	background-color: $item-bg
	grid-template-rows: 1fr 1fr
	grid-gap: 30px

	.links
		grid-template-columns: repeat(5, 1fr)
		grid-gap: 30px
		
		.info
			li 
				font-size: 14px
				cursor: pointer
				margin-bottom: 10px
				&:hover 
					color: $main-hover
				&:first-child
					font-size: 13px
					margin-bottom: 20px
					text-transform: uppercase
					font-weight: bold
					&:hover 
					color: $main-text
					cursor: default
			&:last-child
				color: $main-text
				cursor: default
				li
					&:hover 
						color: $main-text
						cursor: default
	.baners
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 30px
		.banner1, .banner2
			max-height: 200px
			width: 100%
		.banner1
			background-color: $main-grey
			color: #fff
			flex-direction: column
			justify-content: center
			align-items: center
			text-transform: uppercase
			font-size: 36px
			span:nth-child(1)
				font-weight: 800
			span:nth-child(2)
				font-weight: 400
		.banner2
			background-color: $main-hover
			justify-content: center
			align-items: center
			a 
				width: 50px
				height: 50px
				@extend %bg-center
				margin-left: 7%

				&:nth-child(1)
					background-image: url(../img/fb-icon.png)
					margin-left: 0
				&:nth-child(2)
					background-image: url(../img/tw-icon.png)
				&:nth-child(3)
					background-image: url(../img/insta-icon.png)
				&:nth-child(4)
					background-image: url(../img/pa-icon.png)

.main-footer 
	@extend %block-size
	padding: 15px 435px
	background-color: $main-grey
	color: $main-grey-text-color
	justify-content: space-between
	
	.copy
		color: #999
		text-transform: capitalize
	span:nth-child(2)
		margin-left: 30px
@import 'tabs'